.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}
.flex-item{
    flex-grow: 1;
    margin: 20px;
    max-width: 300px;
    border: 2px solid #333;
    padding: 0 20px;
}
.flex-item:hover{
    border-color: #71e174;
    box-shadow: 0px 0px 30px #067e0a;
}
.flex-item:focus{
    border-color: #71e174;
    box-shadow: 0px 0px 30px #067e0a;
}
h2, h3{
    padding: 0;
}
h3{
    color: #999;
}

p b{
    color: #71e174;
}
.llave-img{
    width: 100px;

}

form{
    width: 100%;
    text-align: center;
    padding: 50px;
}
input[type="submit"]{
    background: #317124;
    color: #fff;
    border: none;
    padding: 12px 36px;
    font-size: 17px;
    letter-spacing: 1px;
}